.background_container {
    position: fixed !important;
    background-size: cover !important;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: opacity 0.3s ease-in-out;
}

.wrapper_first_image {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
}

.background_second {
    position: relative;
    top: 150px;
    background-size: cover !important;
    width: 30vw;
    height: 30vw;
    min-height: 200px;
    min-width: 200px;
    grid-column: 2;
    grid-row: 1;
    align-self: start;
    justify-self: end;
}

.container_svg {
    width: 100%;
    height: 100%;
    flex: var(--svg-color);
}

.background_image {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-width: 200px;
    max-width: 75vw;
    min-height: 200px;
    max-height: 95vh;
    object-fit: fill;

}

@media (max-width: 768px) {
    .background_image {
        width: 75%;
    }
}

@media (min-width: 2300px) {

    .background_image {
        width: 90%;
    }

    .background_second {
        width: auto;
        height: auto;
    }
}
