
.background_container {
    position: fixed !important;
    background-size: cover !important;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
}

.background_container {
    transition: opacity 0.3s ease-in-out;
}

.background_second {
    position: relative;
    margin-top: 150px;
    background-size: cover !important;
    width: 30vw;
    height: 30vw;
    min-height: 200px;
    min-width: 200px;
    grid-column: 2;
    grid-row: 1;
    align-self: start;
    justify-self: end;
}

.container_svg {
    width: 100%;
    height: 100%;
}


.background_wrapper {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
}

.background_image {
    width: 70vw;
    height: 70vw;
    min-height: 200px;
    min-width: 200px;
}

@media (max-width: 600px) {
    .background_image {
        width: 100vw;
        height: 100vw;
    }
}

.mirrored_svg {
    display: none;
    transform: scaleX(-1);
    width: 70vw;
    height: 70vw;
    min-height: 200px;
    min-width: 200px;
}



@media (min-width: 2000px) {
    .background_wrapper {
        width: auto;
        display: flex;
    }
    .background_image {
        order: 2;
    }


    .background_image, .mirrored_svg {
        width: 50vw;
        height: 100%;
    }
    .mirrored_svg {
        display: block;
        order: 1;
    }
}

.container {
    position: relative;
    display: inline-block;
}










