.projects_wrapper  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
}

.projects_list {
    display: grid;
    row-gap: 25px;
}

@media (min-width: 768px)  {
    .projects_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media (min-width: 1400px) {
    .projects_list {
        /*grid-template-columns: repeat(3, 1fr);*/
        gap: 1.5rem;
    }
}




