.send_button {
    background-color: transparent;
    color: var(--bg-color-btn);
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 2px 2px;
    box-shadow: 2px 6px 6px 2px var(--bg-color-btn);
    text-transform: uppercase;
    cursor: pointer;
}

.send_button:hover {
    background-color: var(--bg-color-btn);
    color: var(--color-btn);
    box-shadow: 3px 8px 8px 3px var(--bg-color-btn);
}


@media (min-width: 480px) {
    .send_button {
        padding: 5px 10px;
    }
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}
