@import './layout.css';

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

*::selection {
    background-color: transparent;
}

*::-moz-selection {
    background: transparent;
}

* {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*
    Prevents the user from selecting text or elements.
    Commonly used on interactive elements like buttons to improve user experience.

    -webkit-tap-highlight-color: transparent;
    Disables the default tap highlight effect (gray or blue overlay)
    that appears on mobile devices when touching an element.
    This is useful for custom-styled interactive elements to avoid visual interruptions.
    */
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 65%;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    scrollbar-color: #159374 transperent;
}

p, input, textarea {
    user-select: text;
}

::selection {
    background-color: var(--color-green-dark); /* Зелений фон */
    color: var(--text-primary); /* Білий текст */
}

::-moz-selection {
    background-color: var(--color-green-dark);
    color: var(--text-primary);
}

/* Font families  ======================== */
:root {
    --font-title: 'Raleway', sans-serif;
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Lora', serif;
    --font-mono: 'Fira Code', monospace;

    /* Font sizes */
    --font-size-small: 1.2rem;
    --font-size-skill-title: 2rem;
    --font-size-base: 2.3rem;
    --font-size-large: 2.4rem;
    --font-size-xlarge: 3.2rem;
    --font-size-heading: 4rem;
    --font-size-name: 6.8rem;
}

/* === Base Colors  ======================== */
:root {

    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray-dark: #292929;
    --color-gray-light: #dcdcdc;
    --color-gray-medium: #e1e0e0;
    --color-yellow: yellow;
    --color-blue-lighter: #a3defb;
    --color-blue-light: #6bc6f7;
    --color-blue-medium: #3ea8e4;
    --color-blue-dark: #2b7db6;
    --color-blue-darker: #1e5c8a;
    --color-teal-dark: #074b4b;
    --color-teal-medium: #159374;
    --color-teal-light: #2deeee;
    --color-cyan-dark: #0f8d8d;
    --color-green-dark: #0f785c;
    --color-green-medium: #096565;
    --bg-hover: #0f7878;
    /* Spacing */
    --spacing: 100vh;

    --color-beige-lighter: #ebe1b5;
    --color-beige-light: #e1d4a0;
    --color-beige-medium: #bfa86d;
    --color-beige-dark: #9c8754;
    --color-beige-darker: #7a693e;

}

/* ===== Default (Dark Theme) ======================== */
:root {
    /* Main Background Color */
    --color-bg-main: #000000;  /* Color for background */
    --color-bg-section-el: rgba(0, 0, 0, 0.65);
    --color-bg-input: rgba(0, 0, 0, 0.35);
    --color-bg-input-focus: rgba(0, 0, 0, 0.75);

    --bg-primary: #11111b;
    --bg-secondary: #0a0a10;
    --text-primary: var(--color-white);
    --text-secondary: var(--color-gray-medium);

    /* Borders and shadows */
    --border-color: var(--color-gray-dark);
    --shadow-color: rgba(0, 0, 0, 0.137);

    /* Buttons */
    --btn-bg: var(--color-black);
    --btn-text: var(--color-yellow);
    --btn-hover-bg: var(--color-cyan-dark);
    --btn-hover-text: var(--color-yellow);


    /* Secondary Buttons */
    --btn-secondary-bg: var(--color-yellow);
    --btn-secondary-bg-hover: var(--color-green-dark);

    /*    drop-shadow */
    --drop-shadow: var(--color-yellow);

    /* Jello effect */
    --jello-primary: var(--color-teal-medium);
    --jello-hover: var(--color-yellow);

    --color-jello: var(--jello-primary);
    --color-jello-hover: var(--jello-hover);

    /* Gradient */
    --gradient-primary: linear-gradient(
            45deg,
            #ffff00,
            #dede28,
            var(--color-green-medium),
            var(--color-green-dark));

    --gradient-secondary: linear-gradient(
            90deg,
            var(--color-blue-light),
            #0f7575);
    --gradient-runing-ferst: -webkit-linear-gradient(
            135deg,
            var(--color-green-dark),
            var(--color-yellow),
            var(--color-green-dark),
            var(--color-yellow)
    );
    --gradient-runing-second: linear-gradient(
            -45deg,
            var(--color-green-dark),
            var(--color-yellow),
            var(--color-green-dark),
            var(--color-yellow)
    );

    /* SVG */
    --svg-color: var(--color-green-dark);

}

[data-theme="light"] {
    /*    drop-shadow */
    --drop-shadow: var(--color-teal-medium);

    /* Main Background Color */
    --color-bg-main: var(--color-beige-light);  /* Color for background */
    --color-bg-section-el: rgba(218, 206, 152, 0.65);
    --color-bg-input: rgba(255, 255, 0, 0.3);
    --color-bg-input-focus: rgba(224, 210, 156, 0.9);

    /* Light Theme */
    --bg-primary: var(--color-white);
    --bg-secondary: #f5f5f5;
    --text-primary: var(--color-black);
    --text-secondary: #333333;

    /* Borders and shadows */
    --border-color: var(--color-gray-light);
    --shadow-color: rgba(0, 0, 0, 0.1);

    /* Buttons */
    --btn-bg: var(--color-yellow);
    --btn-text: var(--color-black);
    --btn-hover-bg: var(--color-teal-dark);
    --btn-hover-text: var(--color-blue-light);

    /* Jello effect */
    --jello-primary: var(--color-teal-medium);
    --jello-hover: var(--color-blue-light);

    --color-jello: var(--jello-primary);
    --color-jello-hover: var(--jello-hover);

    /* Gradient */
    --gradient-primary: linear-gradient(
    45deg,
    var(--color-teal-medium),
    var(--color-teal-medium),
    var(--color-blue-light),
    var(--color-blue-light)


    );

    --gradient-secondary: linear-gradient(
            90deg,
            var(--color-blue-light),
            #0f7575);
    --gradient-runing-ferst: -webkit-linear-gradient(
            135deg,
            var(--color-green-dark),
            var(--color-blue-light),
            var(--color-green-dark),
            var(--color-blue-light)
    );
    --gradient-runing-second: linear-gradient(
            -45deg,
            var(--color-green-dark),
            var(--color-yellow),
            var(--color-green-dark),
            var(--color-yellow)
    );

     /*SVG */
    --svg-color: var(--color-blue-light);
}

body {
    background-color: var(--color-bg-main);
    font-family: 'Orbitron', sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-bg-main);
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--jello-primary);
}
