/* Layout, Home and Sections */

p {
    font-family: 'Comfortaa', sans-serif;
}

.layout {
    min-height: 100vh;
    padding: 0 8%;
    display: grid;
    justify-items: center;
}

.content {
    max-width: 1024px;
    height: 100%;
    display: grid;
    gap: var(--spacing);
    justify-items: center;
}

.section-top {
    margin-top: var(--spacing);
}

.main {
    width: 100%;
    height: fit-content;
    position: relative;
    overflow-x: hidden;
}

/*Home*/
.home {
    display: grid;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.greeting{
    font-size: var(--font-size-name);
    font-weight: 600;
    width: fit-content;
    display: flex;
    align-items: flex-end;
    font-family: fira code, serif;
}

.name_container {
    display: flex;
    gap: 10px;
    width: fit-content;
    flex-wrap: wrap;
}

.my_name {
    font-size: var(--font-size-name);
    font-weight: 700;
    width: fit-content;
    display: flex;
    align-items: flex-start;
    background: var(--gradient-runing-ferst);
    background: var(--gradient-runing-second);
    -webkit-background-clip: text;
    -webkit--webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    -webkit-animation: gradient 3s ease infinite;
    animation: gradient 3s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.about_my {
    font-size: var(--font-size-heading);
    font-weight: 700;
    width: fit-content;
    display: flex;
    align-items: flex-start;
    color: var(--text-costom-1);
    flex-wrap: wrap;
}

.about_my > h2 {
    display: flex;
    font-size: var(--font-size-heading);
    margin: 0 12px 0 0;
}

.text_description {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 35px;
    color: var(--text-secondary);
    word-wrap: break-word;
    text-align: justify;
    font-family: 'Orbitron', sans-serif;
}

.base_text {
    word-wrap: break-word;
    text-align: justify;
    color: var(--text-secondary);
    font-size:  var(--font-size-base);
    line-height: 1.5;
}

@media screen and (max-width: 1920px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width: 1400px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width: 1150px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width: 998px) {
    html {
        font-size: 55%;
    }

    .layout {
        padding: 0 6%;
    }

    .about-info {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 50%;
    }
    .layout {
        padding: 0 4%;
    }

    .greeting{
        height: 100px;
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 45%;
    }
    .layout {
        padding: 0 3%;
    }

    .home {
        margin: 0;
    }
}

@media screen and (max-width: 430px) {
    html {
        font-size: 45%;
    }
}

@media screen and (max-width: 375px) {
    html {
        font-size: 42%;
    }
}

@media screen and (max-width: 300px) {
    html {
        font-size: 42%;
    }
}
