.info_dp_section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
}

.about_info {
    display: flex;
    flex-direction: column;
}

.about_info p {
    font-size: var(--font-size-large);
    font-weight: 600;
    line-height: 30px;
    color: var(--color-text-primary);
    word-wrap: break-word;
    text-align: justify;
    letter-spacing: 2px;
}

.dp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition-duration: 0.5s;
}

.image {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    height: auto;
}

@media (max-width: 768px) {
    .info_dp_section {
        grid-template-columns: 1fr;
    }

    .image {
        max-width: 100%;
        margin: 0 15%;
    }
}
