.footer {
    margin-bottom: 15px;
}

.footer_container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
}

.footer_heder,
.footer_small_text {
    width: 100%;
    text-align: center;
    margin: 15px 0;
    z-index: 700;
}

.footer_heder article,
.footer_small_text article {
    font-size: var(--font-size-base);
    font-family: var(--font-secondary);
    color: var(--text-secondary);
    word-wrap: break-word;
}

.footer_small_text article {
    font-size: var(--font-size-small);
}


.social_media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;

}

.social_media a {
    width: 3.8rem;
    height: 3.8rem;
    min-width: 1.0rem;
    text-decoration: none;
    border-radius: 50%;
}

.social_icon {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: var(--btn-text);
}

.social_icon:hover {
    color: var(--btn-secondary-bg-hover);
    filter: drop-shadow(10px 10px 20px var(--drop-shadow));
}

@media screen and (max-width: 375px) {
    .footer_container {
        column-gap: 15px;
    }

    .footer_heder,
    .footer_small_text {
        margin: 15px 0;
    }

    .social_media {
        padding: 0 30px;
    }
}
