.switcher {
    display: flex;
    align-items: center;
    gap: 30px;
    width: fit-content;
    height: fit-content;
}

.switcher_button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.switcher__button:hover {
    transform: scale(1.1);
}

.active {
    border-radius: 50%;
    transition: color 10s ease;
}

.theme_switcher__separator {
    width: 3px;
    height: 40px;
    background-color: var(--bg-color-btn);
}

.icon {
    width: 30px;
    height: 30px;
    transition: color 0.3s ease;
}

.icon:hover {
    transform: translateY(-2px);
}

.lightIcon {
    color: #FFDD00;
}

.darkIcon {
    color: #3b3b3b;
}


.active_light {
    color: #FFDD00;
}

.active_dark {
    color: #5e5d54;
}


@media screen and (max-width: 375px) {
    .switcher {
        gap: 20px;
    }
}
